*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}
p{margin: 1.5vh 1vh;}
h1{font-size: 4vh;}
h2{font-size: 2vh;}
h3{
  font-size: 2.5vh;
  margin-top: 3.5vh;
  border-bottom: 2px solid lightgreen;
}
h4{
  font-size: 2vh;
  background-color: lightcyan;
}
h5{
  font-size: 1.8vh;
  text-align: center;
}
h6{
  font-size: 1.8vh;
  color: dodgerblue;
  margin: 2vh 0 0 0;
}
i{font-size: 1.7em;}

.wrap{
  max-width: 1024px;
  margin: auto;
}
header{
  background-color: lightgray;
  width: 100%;
  padding: 1vh 2vh;
}
article{
  display: flex;
}
main{
  padding: 1vh ;
  font-size: 1.5vh;
}
aside{
  padding:  1vh ;
  font-size: 1.5vh;
  background-color: antiquewhite;
}

nav{
  background-color: dimgray;
  font-size: 2vmin;
  ul{
    display: flex;
    list-style: none;
    li{
      padding: 0.5rem 0.75rem;
      &:hover{
        background-color: tomato;
      }
      a{
        text-decoration: none;
        color: lightgray;
        &:hover{
          color: red;
          padding: 0.6em 0;
          background-color: yellow;
        }
      }
    }
  }
}
