*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

i{font-size: 1.7em;}
header{
  background-color: lightgray;
  padding: 0.1vw 2vw;
}
nav{
  background-color: dimgray;
  font-size:2vw;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 0.5rem 0.75rem;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  color: red;
  padding: 0.6em 0;
  background-color: yellow;
}
nav ul li:hover{
  background-color: tomato;
}

.row{
  display: flex;
}
.col-9{
  width: 100%;
}
.col-3{
  width: 220px;
  padding: 0px;
}
iframe{
  height: 850px;
  padding: 0px;
}

h2{
  text-align: center;
  margin: 0.5rem;
}
aside a{
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* border: 1px solid darkblue; */
  padding: 0.1rem 0.5rem;
  font-size: 7vw;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: #fff;
  background-color: #007bff;

  margin: 0.2rem;
  text-decoration: none;
}



@media screen and (min-width: 700px) {
  nav{font-size:18px;}
}
@media screen and (max-width: 700px) {
  .col-3{width: 180px;}
}